PORT=3000
TIKTOK_CLIENT_KEY=YOUR_CLIENT_KEY
TIKTOK_CLIENT_SECRET=YOUR_CLIENT_SECRET
TIKTOK_REDIRECT_URI=https://YOUR_DOMAIN.example.com/oauth/tiktok/callback
SESSION_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
